%h2
  Recent Presentations
  
- if @presentations.empty?
  #no_presentations
    Sorry, no video presentations are currently available

- @presentations.each do |p|
  .hp_presentation
    .title= p.title
    .video
      %video{:src => p.video.url, :controls => "controls"}

- unless @presentations.empty?
  %a "View all Presentations..."
